@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  b {
    @apply font-bold;
  }
}

@layer components {
  .gridContainer {
    grid-template-areas:
      "header header"
      "warning warning"
      "treasury currentPrice"
      "treasury buybackImpact"
      "liquidity buybackImpact"
      "footer footer"
      "disclaimer disclaimer";

    grid-template-columns: 3fr 2fr;
  }
  .area-header {
    grid-area: header;
  }
  .area-currentPrice {
    grid-area: currentPrice;
  }
  .area-treasury {
    grid-area: treasury;
  }
  .area-buybackImpact {
    grid-area: buybackImpact;
  }
  .area-footer {
    grid-area: footer;
  }
  .area-disclaimer {
    grid-area: disclaimer;
  }
  .area-liquidity {
    grid-area: liquidity;
  }
  .area-warning {
    grid-area: warning;
  }

  .inlineInput {
    @apply inline p-0 ml-2 w-10 border-b border-b-darkGrey text-center;
  }
}
