@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gridContainer {
    grid-template-areas:
      "header header"
      "treasury currentPrice"
      "treasury buybackImpact"
      "footer footer"
      "disclaimer disclaimer";

    grid-template-columns: 3fr 2fr;
  }
  .area-header {
    grid-area: header;
  }
  .area-currentPrice {
    grid-area: currentPrice;
  }
  .area-treasury {
    grid-area: treasury;
  }
  .area-buybackImpact {
    grid-area: buybackImpact;
  }
  .area-footer {
    grid-area: footer;
  }
  .area-disclaimer {
    grid-area: disclaimer;
  }
}
